[submodule "rtaudio"]
	path = rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/6.0
[submodule "nv-codec-headers"]
	path = nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
	branch = n12.0.16.1
[submodule "external/CPPMonetize"]
	path = external/CPPMonetize
	url = https://github.com/juliancoy/CPPMonetize.git
