build
build-asan
build-ncnn
*.o
perf.*
CMakeFiles
*/CMakeCache.txt
editor_autogen
generated
ffmpeg-*
.cache
# Local secrets
hftoken.txt
testbench_assets
__pycache__
--mode
nasreen.mp4
heaptrack.*.zst
debug
third_party